@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #4a4a4a;
  background-color: #f5f7f6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@theme {
  --color-primary: #2c7a7b;     /* Deep Teal */
  --color-secondary: #ddefe3;   /* Soft Mint */
  --color-accent: #ff7f50;      /* Coral / Orange */
  --color-bg: #f5f7f6;          /* Light Gray */
  --color-text: #4a4a4a;        /* Dark Gray */
  --color-border: #d1d5db;      /* subtle border */
}

#root {
  max-width: 1280px;
  margin: 0 auto;
}
