@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #4a4a4a;
  background-color: #f5f7f6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@theme {
  --color-primary: #ad46ff;
  --color-secondary: #e5f1ff;
  --color-accent: #004d85;
  --color-bg: #f5f7f6;
  --color-text: #0a0a0a;
  --color-border: #ffcdf2;
}
body,
nav {
  background-color: var(--color-bg);
  color: var(--color-text);
}
.container {
  @apply px-3;
}

.primary-btn {
  @apply px-4 py-2 border-primary border md:px-4 md:py-2  rounded-lg font-semibold text-sm justify-center transition-all bg-primary cursor-pointer hover:bg-primary text-white duration-200 flex items-center gap-1;
}
.tab-btn {
  @apply rounded-lg flex gap-2 items-center text-white text-left py-3 px-2 duration-300 transition-colors;
}

.primary-btn:has(svg) {
  @apply p-3;
}

.secondary-btn {
  @apply px-4 py-2 rounded-lg font-semibold text-sm transition-all border border-border hover:bg-border cursor-pointer text-black duration-200 flex items-center gap-1;
}
.grid-container {
  @apply grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-2 md:gap-6;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes scaleIn {
  from {
    transform: scale(0.9);
  }
  to {
    transform: scale(1);
  }
}
